.places {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 92px auto 92px auto;
  width: 984px;
}

@media screen and (max-width: 1270px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 720px;
    margin: 88px auto 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 320px;
    margin: 64px auto 14px auto;
  }
}
