@import url(__caption/__caption.css);
@import url(__image/__image.css);
@import url(__subtitle/__subtitle.css);
@import url(__title/__title.css);

.lead {
  display: flex;
  flex-wrap: wrap;
  max-width: 984px;
  margin: 0 auto 125px auto;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin: 0 auto 92px auto;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
    margin: 0 auto 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    max-width: 320px;
    margin: 0 auto 92px auto;
  }
}
