@import url(__lang-link/__lang-link.css);
@import url(__lang-links/__lang-links.css);

.header {
  display: flex;
  justify-content: space-between;
  width: 984px;
  margin: 0 auto;
  align-items: center;
  padding-top: 34px;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 288px;
    padding-top: 20px;
  }
}
