.cover__container {
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  width: 100%;
}
