@import url(_main/_main.css);
@import url(_sub/_sub.css);

.place__paragraph {
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    text-align: start;
  }
}
