@import url(__list/__list.css);
@import url(__list-items/__list-items.css);
@import url(__list-numbers/__list-numbers.css);
@import url(__list-text/__list-text.css);
@import url(__text/__text.css);
@import url(__title/__title.css);

.intro {
  width: 690px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 477px 59px 113px;
}

@media screen and (max-width: 1280px) {
  .intro {
    margin: 0 286px 92px 48px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 auto 88 auto;
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 288px;
    margin: 0 auto 64px auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.1;
  }

  .intro__text_subtitle {
    line-height: 1.2;
  }
}
