@import url(__list/__list.css);
@import url(__list-items/__list-items.css);
@import url(__list-numbers/__list-numbers.css);
@import url(__list-text/__list-text.css);
@import url(__subtitle/__subtitle.css);
@import url(__text/__text.css);
@import url(__title/__title.css);

.intro {
  max-width: 984px;
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    /* margin: 0 286px 92px 48px; */
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto 88px auto;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
    margin: 0 auto 64px auto;
  }
}
