.footer__link-text {
  text-decoration: none;
  color: #ffffff;
  margin-right: 18px;
  font-size: 16px;
  line-height: 1.1;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}

.footer__link-text:hover {
  opacity: 0.8;
}
