.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  width: 620px;
  font-weight: 400;
  margin: 0 auto 64px auto;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    margin: 0 auto 56px auto;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px auto;
    width: 288px;
  }
}
