@import url(__container/__container.css);
@import url(__subtitle/__subtitle.css);
@import url(__title/__title.css);

.cover {
  background-image: url("../../images/__background-route.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1184px;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    max-width: 1024px;
  }
}
