@import url(__description/__description.css);
@import url(__heading/__heading.css);
@import url(__image/__image.css);
@import url(__link/__link.css);
@import url(__paragraph/__paragraph.css);
@import url(__title/__title.css);
@import url(__url-heading/__url-heading.css);
@import url(__website/__website.css);

.place {
  margin: 0 0 80px 0;
  width: 100%;
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: 460px 456px;
  grid-template-rows: 76px 460px;
  /* margin: 0 auto 0 auto; */
  grid-template-areas:
    "title website"
    "image paragraph";
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

@media screen and (max-width: 1023px) {
  .place {
    margin: 0 0 72px 0;
  }
}

@media screen and (max-width: 767px) {
  .place {
    margin: 0 0 48px 0;
    flex-wrap: wrap;
  }
}
