@import url(__copyright/copyright.css);
@import url(__link/__link.css);
@import url(__links/__links.css);
@import url(__link-text/__link-text.css);

.footer {
  width: 1184px;
  margin: 92px auto 0 auto;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: 720px;
    margin: 88px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 168px;
    margin: 64px 136px 0px 16px;
    flex-wrap: wrap;
  }
}
